{% extends "_notIndex.html" %}

{% block title %}Ride TUgether | Rides{% endblock %}
{% block head %}
<script src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript">
	
    $(window).load(function(){
      $('div.itineraryBar').hover(function() {
		$(this).animate({
		height: $(this)[0].scrollHeight+'px'}, 200);
		},
		function(){
		$(this).animate({
		height: '150px'
		},200);
    });
	});
  
	</script>
{% endblock %}
{% block bodycontent %}
<div class="detailTables">

{% if driverides %}

<div class="itinerary"><h2>You are a driver for the following rides:</h2></div>
	{% for ride in driverides %}
	<a href='/editride?key={{ ride.key }}'>
	<div class="itinerary">
		<div class="driverIcon">
			<h1>Driver</h1><h3>{{nick}}</h3></div>
		<div class="itineraryBar">
			<div class="square">
				<h2>To</h2>
				<p>{{ ride.start_point_title }}<p>
			</div>
			<div class="square">
				<h2>From</h2>
				<p>{{ ride.destination_title }}<p>
			</div>
			<div class="square">
				<h2>Date</h2>
				<p>{{ ride.part_of_day }} {{ ride.jsmonth }}-{{ ride.jsday }}-{{ ride.jsyear }}<p>
			</div>
			<div class="square">
				<h2>Contact</h2>
				<p>{{ ride.contact }}<p>
			</div>
		{% if ride.passengerobjects %}
			<h3>Passengers</h3>
			<div class="itineraryRow">
				<ul>
					<li><p><b>Name</b></p></li>
					<li><p><b>
					{% ifequal ride.doOrPu 0 %}Drop Off Location
					{% else %}Pick Up Location{% endifequal %}</b></p></li>
					<li><p><b>Contact</b></p></li>
					<li><p><b>Modify</b></p></li>
				</ul>
			</div>
			{% for p in ride.passengerobjects %}
				<div class="itineraryRow">
					<ul>
						<li><p>{{ p.fullname }}</p></li>
						<li><p>{{ p.location }}</p></li>
						<li><p>{{ p.contact }}</p></li>
						<li><input type="button" class='submitButton' value="Remove" 
						onclick="if(confirm('Are you sure you want to remove {{ p.name }} from this ride?')) 
						location.href='/removepassenger?rkey={{ ride.key }}&pkey={{ p.key }}'" /></li>
					</ul>
				</div>
			{% endfor %}
			{% else %}<p>There are no passengers registered for this ride.</p>
		{% endif %}

		</div>
	</div></a>
	{% endfor %}
{% endif %}

{% if passengerrides %}
<h2>You are a passenger for the following rides:</h2>
{% for ride in passengerrides %}
<div class="itinerary">
		<a href='/ratedriver?dkey={{ride.driver}}'><div class="driverIcon" >
			<h1>Driver</h1><h3>{{ride.drivername}}</h3></div></a>
			<div class="itineraryBar">
				<div class="square">
					<h2>To</h2>
					<p>{{ ride.start_point_title }}<p>
				</div>
				<div class="square">
					<h2>From</h2>
					<p>{{ ride.destination_title }}<p>
				</div>
				<div class="square">
					<h2>Date</h2>
					<p>{{ ride.part_of_day }} {{ ride.jsmonth }}-{{ ride.jsday }}-{{ ride.jsyear }}<p>
				</div>
				<div class="square">
					<h2>Contact</h2>
					<p>{{ ride.contact }}<p>
				</div>
				{% if ride.passengerobjects %}
					<h3>Passengers</h3>
					<div class="itineraryRow">
						<ul>
							<li><p>Name</p></li>
							<li><p>
							{% ifequal ride.doOrPu 0 %}Drop Off Location
							{% else %}Pick Up Location{% endifequal %}</p></li>
							<li><p>Contact</p></li>
							<li><p>Modify</p></li>
						</ul>
					</div>
					{% for p in ride.passengerobjects %}
						<div class="itineraryRow">
							<ul>
								<li><p>{{ p.fullname }}</p></li>
								<li><p>-</p></li>
								<li><p>{{ p.contact }}</p></li>
								<li>
								{% ifequal p.fullname nick %}<input type="button" class='submitButton' value="Remove"
								onclick="if(confirm('Are you sure you want to remove yourself from this ride?')) 
								location.href='/removepassenger?rkey={{ ride.key }}&pkey={{ p.key }}'" />
								 {% endifequal %} 
								</li>
							</ul>
						</div>
				
					{% endfor %}
				{% else %}<p>There are no passengers registered for this ride.</p>
				{% endif %}

	{% endfor %}
	{% else %}<div class="itinerary"><h2>You are not a passenger for any rides.</h2></div>
{% endif %}
			</div>
		</div>
		</div>
{% endblock %}
