{% extends "_notIndex.html" %}

{% block bodycontent %}
<div class='rating'>
<h2>Rate Your Driver </h2>

<p>Let us know what you thought of {{driver}} </p>

<form name="aform" action="/submittext" method="post" >
<input type="radio" name="ooFrating" value="1"/>1
<input type="radio" name="ooFrating" value="2"/>2
<input type="radio" name="ooFrating" value="3"/>3
<input type="radio" name="ooFrating" value="4"/>4
<input type="radio" name="ooFrating" value="5"/>5</br>
<textarea class='commentBox' name="ratetext" placeholder="Please leave any comments you may have about this driver"></textarea></br>
<input type="submit" class='submitButton' value="Rate Driver">
<input type="hidden" name="driver" value="{{drivernum}}">
</form>
</div>

{% endblock %}
