
body,html
{
    height:100%;
    margin:0;
    background-image: url('greybg.png');
    
}

h1
{
    
    font-weight:400;
    margin-bottom:.4em;
    
}

#container
{

	min-height: 100%;
	/*margin-bottom: -65px;*/
	position: relative;
	
}

#titleblock
{
    
    min-width:985px;
    height:53px;
    font-family: 'open_sanslight', Arial, sans-serif;
    background:#fbfbfb;
    color:#4C75AE;
    text-align:center;
    box-shadow:2px 2px 10px #888;
    margin:0 0 .1% 0;
    
}

#collegeName
{
    
    position:relative;
    top:4px;
    display:inline-block;
    margin:0 0 0 5%;
    float:left;
    
}

#collegeName a
{

	text-decoration: none;
	color: #4C75AE;
	
}

#mainfooter
{
	clear:both;
	font-family: 'open_sanslight', Arial, sans-serif; 
    height:49px;
    background:#4C75AE;
    color:#fff;
    text-align:center;
    margin:0 auto;
    
}

#map_canvas
{
    
    height:75%;
    border-color:#A8A4A4;
    border-style:solid;
    border-width:1px;
    margin:0;
	padding: 0;
    
}

ul#exhibit_key
{
    
    position:absolute;
    top:205px;
    left:0;
    list-style:none;
    width:385px;
    margin:0;
    padding:0;
    
}

a#toggle_exhibit_key
{
    
    position:absolute;
    left:405px!important;
    font-size:24px;
    font-weight:700;
    padding-top:5px;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    transition:none;
    
}

ul#exhibit_key li
{
    
    color:#FFF;
    
}

ul#exhibit_key li a
{
    
    width:350px;
    float:left;
    background-color:#6f9fd9;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    box-shadow:0 1px rgba(255,255,255,0.3);
    padding:20px 20px 20px 35px;
    
}

a.box
{
    
    margin-top:2.5%;
    display:inline-block;
    text-decoration:none;
    color:#FFF;
    background:#5091cd;
    font-size:14px;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    padding:7px;
    
}

a.box:hover
{
    
    color:#5091cd;
    background:#FFF;
    
}

a.box.lightbkg
{
    
    background:#6f9fd9;
    
}

a.box.lightbkg:hover
{
    
    color:#FFF;
    background:#5091cd;
    
}

#ridelist
{
    
    overflow:hidden;
    width:90%;
    padding-bottom:20px;
    margin:0 auto;
	text-align:center;
    
}

#ridelist td
{

	padding-right: 18px;
	
	
}

#ridelist th
{

	min-width:188px;

}

.clearfix:after
{
    
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    
}

#rtablehead
{
    font-family: 'open_sanslight', Arial, sans-serif;
    background:#4C75AE;
    margin:0 auto;
    
}

table
{
    
    border:none;
    border-collapse:collapse;
    width:100%;
    
}

td,th
{
    
    vertical-align:middle;
    padding:2px 0 0 0;
    
}

th
{
    
    color:#666;
    max-width:188px;
	text-align:center;
    
}

#navbar
{
    
    display:inline-block;
    float:right;
    margin: 0 5% 0 0;
    
}

#navbar ul li
{
    
    list-style:none;
    display:inline;
    margin:0;
    
}

#navbar ul li a
{
    
    margin-left:3px;
    text-decoration:none;
    color:#6B8FBB!important;
    transition:color .3s;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    -o-transition:color .3s;
    -ms-transition:color .3s;
    padding:0 .5em;
    
}

#navbar a:hover
{
    
    color:rgba(23,194,187,0.57)!important;
    transition:color .3s;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    -o-transition:color .3s;
    -ms-transition:color .3s;
    
}

#footer
{
    
    background:#cc9;
    clear:both;
    height:60px;
    
}

titleblock#a,#navbar a:link,#navbar a:visited
{
    
    color:#fff;
    
}

ul#exhibit_key li a:hover,ul#exhibit_key li.active a
{
    
    background-color:#5091cd;
    
}

#rtablehead h2,#rtablehead p
{
    font-weight:normal;
    text-align:center;
    color:#eee;
    
}

.well
{
    
    z-index:1!important;
    overflow:hidden;
    padding: 6px;
    z-index:10000;
    position:absolute;
    width:450px;
    opacity: .8;
    right:30px;
    top:65px;
    min-height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    
}

#helpOverlayClose{
    
    font-size:20px;
    line-height:20px;
    float:right;
    top:4px;
    font-weight:700;
    display:block;
    
}

#helpOverlaybg{
    
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    z-index:10000;
    
}

#helpOverlay{
    
    font-size:12px!important;
    width:70%;
    opacity: .8;
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6 */
    background:#FFFFFF;
    border:2px solid #cecece;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index:20000;
    padding:12px;
    font-size:13px;
    
}

table tr
{
    
    border-bottom: 1px solid gray;
    
}

#errorImage
{
    
    background-image: url('404error.png');
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
    background-size: contain;
    
}

#errorMessage
{
    
    text-align:center;
    font-family: 'open_sanslight', Arial, sans-serif;
    
}

#templateBlock
{
    
    margin: 3% 0 0 0;
    text-align:center;
	font-family: 'open_sanslight', Arial, sans-serif;
    
}

footer
{
    
	height: 65px;
	position: relative;
    width: 100%;
    
}

.mapPopup
{

    text-align:center;
    margin: 8px 0 0 0;
    width:450px;
    background:#FFF;
    border:2px solid #cecece;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    
}

.detailTables
{
	font-family: 'open_sanslight', Arial, sans-serif;
    text-align:center;
    margin: 0 auto;
    width:75%;
    
}

#templateBlock h2
{
	font-weight:normal;
	text-shadow: 1px 1px 1px rgba(122, 122, 122, 0.45);
	color: #646363;
	
}

.detailTables th, .detailTables td
{

	min-width:165px!important;
	text-align:center;
	
}

.submitButton 
{

	color: #FFF!important;
	text-align: center;
	padding: 4px 8px 4px 8px;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #4C75AE;
	border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	
}

.submitButton:hover
{

	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
	background: #2E5481;
	cursor: pointer;
	
}

.submitButton:active 
{

    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
	
}

.commentBox
{

	width:380px;
	height:150px;
	margin: 20px 0 20px 0;
	
}

#formContainer
{

	width: 750px;
	margin: 0 auto;
	
}

#formLeft
{

	width: 300px;
	float: left;
	list-style:none;
	
}

#formLeft li
{

	float: left;
	padding-bottom: 14px;
	margin: 0;
	padding: 0;
	
}

#formRight
{
	min-height: 160px;
	padding: 0 0 0 50px;
	width: 350px;
	float: left;
	list-style:none;
	
}

ol li
{

	height: 40px;
	float: left;
	
}

#formContainer .submitButton
{

	margin: 30px 0 0 0;
	
}

.rideTable
{

	background-color: #A5A1A1;
	
}

.itinerary
{

	width:950px;
	
}

.driverIcon
{

	height: 150px;
	width: 150px;
	background-color: #333333;
	float: left;
	
}

.driverIcon h1
{

	margin:20% 0 0 0;
	color: #FFF!important;
	
}

.driverIcon h3
{

	color: #FFF!important;
	
}

.driverIcon:hover > .intineraryBar
{

	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
	background-color: #B9B9B9;
	
}

.itineraryBar
{

	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
	height: 150px;
	background-color: #dfdfdf;
	width: 800px;
	float: left;
	overflow:hidden;
	margin: 0 0 5px 0;

}

.itineraryBar:hover
{

	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
	background-color: #B9B9B9;


}

.itineraryBar h3, .itineraryBar p
{

	color:#646363!important;
	
}

.itineraryRow ul li
{

	list-style: none;
	display: inline;
	width: 25%;
	float:left;
	
}

.square{

	width:50%;
	float:left;
	max-height:56px;
	
}

.square h2
{

	margin: 3%;
	float: left;
	
}

.square p
{
	color:#646363!important;
	float: left;
	margin: 5% 0 0 0;
	max-width:290px;
	font-size: 14px;
	margin: 20px 0 0 0;
	
}

@font-face
{
    
    font-family: 'open_sanslight';
    src: url('opensans_light_macroman/OpenSans-Light-webfont.eot');
    src: url('opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
    url('opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'),
    url('opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
